<div class="container">
    <div class="row">
        <div class="col"></div>
            <div class="col-auto">
                <div class="col-auto">
                    <h1>New Article</h1>
                </div>
                <div class="row">
                    <div class="col">
                        <%= render "form", image: @image %>

                    </div>
                </div>
            </div>
        <div class="col"></div>
    </div>
</div>